[mysqld]
# Основные настройки
user                    = mysql
default_authentication_plugin = mysql_native_password
character_set_server    = utf8mb4
collation_server        = utf8mb4_unicode_ci
skip_ssl
require_secure_transport=OFF
skip-name-resolve
bind-address = 0.0.0.0
log_error = /var/log/mysql/error.log

# Безопасность
skip_name_resolve       = 1
local_infile           = 0
symbolic_links         = 0
secure_file_priv       = /var/lib/mysql-files

# Ресурсы
max_connections        = 200
table_open_cache       = 4000
thread_cache_size      = 100

# InnoDB
innodb_buffer_pool_size         = 256M
innodb_log_file_size            = 256M
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1

# Логирование
log_error               = /var/log/mysql/mysql-error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time         = 1
log_queries_not_using_indexes = 1

[client]
default_character_set   = utf8mb4
ssl-mode=DISABLED

[mysql]
default_character_set   = utf8mb4
